/* Color */
code, p, li, h1, h2, h3, h4, h5, h6 {
  color: #c4c4c4;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

html {
  background-color: #212121;
}

body {
  margin: 0 auto;
  padding: 0 2em 0em 2em;
  max-width: 1400px;
}

/* Rest */
h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

::selection {
  color: #c4c4c4;
  background: #14004d;
}

a:link, a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

a:active, a:link, a:visited {
  color: #7769ff;
}

a:hover {
  color: #bf69ff;
}

p, li, code {
  font-size: 1.5em;
  line-height: 2;
  letter-spacing: 1px;
}